NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDmJZY61ZqBQfDEnBA0jYNTOmvUpGX7TfA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=konark-hospitals.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=konark-hospitals
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=konark-hospitals.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=622146274011
NEXT_PUBLIC_FIREBASE_APP_ID=1:622146274011:web:1240b4b643a4dbcfc2c2fe
